function GameOver.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push constant 184
pop this 1
push constant 32
push constant 70
call Math.multiply 2
push constant 184
push constant 16
call Math.divide 2
add
pop this 3
push pointer 0
call GameOver.write 1
pop temp 0
push pointer 0
return
function GameOver.write 0
push argument 0
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 16384
push this 3
add
pop this 4
push this 4
push constant 0
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 32
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 64
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 96
add
push constant 7
call Memory.poke 2
pop temp 0
push this 4
push constant 128
add
push constant 7
call Memory.poke 2
pop temp 0
push this 4
push constant 160
add
push constant 7
call Memory.poke 2
pop temp 0
push this 4
push constant 192
add
push constant 7
call Memory.poke 2
pop temp 0
push this 4
push constant 224
add
push constant 7
call Memory.poke 2
pop temp 0
push this 4
push constant 256
add
push constant 1017
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 288
add
push constant 1017
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 320
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 352
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 384
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 416
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 448
add
push constant 4
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 480
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push this 1
push constant 16
add
pop this 1
push constant 32
push constant 70
call Math.multiply 2
push this 1
push constant 16
call Math.divide 2
add
pop this 3
push constant 16384
push this 3
add
pop this 4
push this 4
push constant 0
add
push constant 8184
call Memory.poke 2
pop temp 0
push this 4
push constant 32
add
push constant 16380
call Memory.poke 2
pop temp 0
push this 4
push constant 64
add
push constant 32766
call Memory.poke 2
pop temp 0
push this 4
push constant 96
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 128
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 160
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 192
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 224
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 256
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 288
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 320
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 352
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 384
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 416
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 448
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 480
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push this 1
push constant 16
add
pop this 1
push constant 32
push constant 70
call Math.multiply 2
push this 1
push constant 16
call Math.divide 2
add
pop this 3
push constant 16384
push this 3
add
pop this 4
push this 4
push constant 0
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 32
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 64
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 96
add
push constant 7225
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 128
add
push constant 7225
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 160
add
push constant 7225
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 192
add
push constant 7225
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 224
add
push constant 7225
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 256
add
push constant 7225
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 288
add
push constant 7225
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 320
add
push constant 7225
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 352
add
push constant 7225
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 384
add
push constant 7225
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 416
add
push constant 7225
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 448
add
push constant 7225
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 480
add
push constant 7225
neg
call Memory.poke 2
pop temp 0
push this 1
push constant 16
add
pop this 1
push constant 32
push constant 70
call Math.multiply 2
push this 1
push constant 16
call Math.divide 2
add
pop this 3
push constant 16384
push this 3
add
pop this 4
push this 4
push constant 0
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 32
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 64
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 96
add
push constant 14
call Memory.poke 2
pop temp 0
push this 4
push constant 128
add
push constant 14
call Memory.poke 2
pop temp 0
push this 4
push constant 160
add
push constant 14
call Memory.poke 2
pop temp 0
push this 4
push constant 192
add
push constant 14
call Memory.poke 2
pop temp 0
push this 4
push constant 224
add
push constant 8190
call Memory.poke 2
pop temp 0
push this 4
push constant 256
add
push constant 8190
call Memory.poke 2
pop temp 0
push this 4
push constant 288
add
push constant 8190
call Memory.poke 2
pop temp 0
push this 4
push constant 320
add
push constant 14
call Memory.poke 2
pop temp 0
push this 4
push constant 352
add
push constant 14
call Memory.poke 2
pop temp 0
push this 4
push constant 384
add
push constant 14
call Memory.poke 2
pop temp 0
push this 4
push constant 416
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 448
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 480
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push this 1
push constant 32
add
pop this 1
push constant 32
push constant 70
call Math.multiply 2
push this 1
push constant 16
call Math.divide 2
add
pop this 3
push constant 16384
push this 3
add
pop this 4
push this 4
push constant 0
add
push constant 4080
call Memory.poke 2
pop temp 0
push this 4
push constant 32
add
push constant 16380
call Memory.poke 2
pop temp 0
push this 4
push constant 64
add
push constant 32766
call Memory.poke 2
pop temp 0
push this 4
push constant 96
add
push constant 4081
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 128
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 160
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 192
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 224
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 256
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 288
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 320
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 352
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 384
add
push constant 4081
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 416
add
push constant 32766
call Memory.poke 2
pop temp 0
push this 4
push constant 448
add
push constant 16380
call Memory.poke 2
pop temp 0
push this 4
push constant 480
add
push constant 4080
call Memory.poke 2
pop temp 0
push this 1
push constant 16
add
pop this 1
push constant 32
push constant 70
call Math.multiply 2
push this 1
push constant 16
call Math.divide 2
add
pop this 3
push constant 16384
push this 3
add
pop this 4
push this 4
push constant 0
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 32
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 64
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 96
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 128
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 160
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 192
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 224
add
push constant 8185
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 256
add
push constant 4081
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 288
add
push constant 28686
call Memory.poke 2
pop temp 0
push this 4
push constant 320
add
push constant 14364
call Memory.poke 2
pop temp 0
push this 4
push constant 352
add
push constant 15420
call Memory.poke 2
pop temp 0
push this 4
push constant 384
add
push constant 3696
call Memory.poke 2
pop temp 0
push this 4
push constant 416
add
push constant 2016
call Memory.poke 2
pop temp 0
push this 4
push constant 448
add
push constant 2016
call Memory.poke 2
pop temp 0
push this 4
push constant 480
add
push constant 960
call Memory.poke 2
pop temp 0
push this 1
push constant 16
add
pop this 1
push constant 32
push constant 70
call Math.multiply 2
push this 1
push constant 16
call Math.divide 2
add
pop this 3
push constant 16384
push this 3
add
pop this 4
push this 4
push constant 0
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 32
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 64
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 96
add
push constant 14
call Memory.poke 2
pop temp 0
push this 4
push constant 128
add
push constant 14
call Memory.poke 2
pop temp 0
push this 4
push constant 160
add
push constant 14
call Memory.poke 2
pop temp 0
push this 4
push constant 192
add
push constant 14
call Memory.poke 2
pop temp 0
push this 4
push constant 224
add
push constant 8190
call Memory.poke 2
pop temp 0
push this 4
push constant 256
add
push constant 8190
call Memory.poke 2
pop temp 0
push this 4
push constant 288
add
push constant 8190
call Memory.poke 2
pop temp 0
push this 4
push constant 320
add
push constant 14
call Memory.poke 2
pop temp 0
push this 4
push constant 352
add
push constant 14
call Memory.poke 2
pop temp 0
push this 4
push constant 384
add
push constant 14
call Memory.poke 2
pop temp 0
push this 4
push constant 416
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 448
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push this 4
push constant 480
add
push constant 2
neg
call Memory.poke 2
pop temp 0
push this 1
push constant 16
add
pop this 1
push constant 32
push constant 70
call Math.multiply 2
push this 1
push constant 16
call Math.divide 2
add
pop this 3
push constant 16384
push this 3
add
pop this 4
push this 4
push constant 0
add
push constant 16382
call Memory.poke 2
pop temp 0
push this 4
push constant 32
add
push constant 32766
call Memory.poke 2
pop temp 0
push this 4
push constant 64
add
push constant 28686
call Memory.poke 2
pop temp 0
push this 4
push constant 96
add
push constant 28686
call Memory.poke 2
pop temp 0
push this 4
push constant 128
add
push constant 28686
call Memory.poke 2
pop temp 0
push this 4
push constant 160
add
push constant 28686
call Memory.poke 2
pop temp 0
push this 4
push constant 192
add
push constant 28686
call Memory.poke 2
pop temp 0
push this 4
push constant 224
add
push constant 32766
call Memory.poke 2
pop temp 0
push this 4
push constant 256
add
push constant 16382
call Memory.poke 2
pop temp 0
push this 4
push constant 288
add
push constant 126
call Memory.poke 2
pop temp 0
push this 4
push constant 320
add
push constant 238
call Memory.poke 2
pop temp 0
push this 4
push constant 352
add
push constant 462
call Memory.poke 2
pop temp 0
push this 4
push constant 384
add
push constant 910
call Memory.poke 2
pop temp 0
push this 4
push constant 416
add
push constant 3598
call Memory.poke 2
pop temp 0
push this 4
push constant 448
add
push constant 7182
call Memory.poke 2
pop temp 0
push this 4
push constant 480
add
push constant 14350
call Memory.poke 2
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
call Output.println 0
pop temp 0
push constant 38
call String.new 1
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 0
call Output.printInt 1
pop temp 0
push constant 0
return
